@model IEnumerable<Coiffeur_Website.Models.Randevu>

@{
    ViewData["Title"] = "Müşteri Dashboard";
}

<div class="container mt-5">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-6">
            <h2>Hoş Geldiniz, @ViewBag.MusteriName</h2>
        </div>
        <div class="col-md-4 text-end">
            <a asp-controller="Musteri" asp-action="RandevuAl" class="btn btn-primary">Randevu Al</a>
        </div>
    </div>
    <hr />

    <h3>Güncel Randevularınız</h3>
    @if (Model.Any())
    {
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Tarih ve Saat</th>
                    <th>Salon</th>
                    <th>Çalışan</th>
                    <th>İşlem</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var randevu in Model)
                {
                    <tr>
                        <td>@randevu.RandevuTarihi.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@randevu.Salon?.SalonAd</td>
                        <td>@randevu.Calisan?.CalisanAd</td>
                        <td>@randevu.Islem?.IslemAdi</td>,
                        <td>
                            @{
                                if (randevu.OnayDurumu == "Beklemede")
                                {
                                    <p>"Beklemede"</p>
                                }
                                else if (randevu.OnayDurumu == "Onaylandı")
                                {
                                    <p>"Onaylandı"</p>
                                }
                                else if (randevu.OnayDurumu == "Onaylanmadı")
                                {
                                    <p>"Onaylanmadı"</p>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info mt-3">Henüz bir randevunuz bulunmuyor.</div>
    }
</div>
