@model List<CalisanSaat>
@{
    ViewData["Title"] = "Saat Seçimi";
    var calisan = ViewBag.Calisan as Calisan;
    var islem = ViewBag.Islem as Islem;
}

<h2>Saat Seçimi</h2>
<p><strong>Seçilen İşlem:</strong> @islem.Ad</p>
<p><strong>Seçilen Çalışan:</strong> @calisan.Ad</p>

<p>Uygun saatlerden birini seçiniz:</p>
<ul class="list-group">
    @foreach (var saat in Model)
    {
        <li class="list-group-item">
            Saat: @saat.BaslangicSaati.ToString(@"hh\:mm") - @saat.BitisSaati.ToString(@"hh\:mm")
            <form  asp-controller="Randevu" asp-action="RandevuOlustur" method="post" class="d-inline">
                <input type="hidden" name="calisanId" value="@calisan.Id" />
                <input type="hidden" name="islemId" value="@islem.Id" />
                <input type="hidden" name="saatId" value="@saat.Id" />
                <button type="submit" class="btn btn-primary btn-sm">Seç</button>
            </form>
        </li>
    }
</ul>
